.products-main {
    z-index: -1;
    margin-left: 50px;
    position: relative;
    top: 12em;
}

.products-dropdown {
    width: 400px;
    margin-top: 30px;
}

.products-table {
    margin-top: 30px;
    width: 500px;
    border-spacing: 10px;

}

.products-wrapper  {
    display: grid;
    padding:1em;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.redtext {
    color: red;
}