.main-wrapper {
  margin-left: 20px;
}

.formElement {
  width:200px;
  display: inline-block;
}

.inputElement {
  width:200px;
  display: inline-block;
}

.savebutton {
  width:408px;
  display: inline-block;
}

.savedInfo {
  margin-left: 60px;
}

.savebutton {
  width:408px;
  display: inline-block;
}